@import "bootstrap/less/bootstrap.less";

// VARS

@spaceTny: 5px;
@spaceSml: 9px;
@space: 13px;
@spaceLg: 16px;

@hspace: @space;
@vspace: @space;

// DISPLAY

.hidden
{
	display: none;
}

// SPACER

.right-space
{
	margin-right: @space;
}

.right-space-lg
{
	margin-right: @spaceLg;
}

.vspaced
{
	margin-top: @vspace;
	margin-bottom: @vspace;
}

.vspacer
{
	overflow: hidden;
	height: @space;
}

.vline
{
	border-right: 1px solid @grayLight;
	margin-left: @hspace;
	margin-right: @hspace;
	height: 50px;
}

// FLOAT
.fl
{
	float: left;
}

.fr
{
	float: right;
}

.cl
{
	clear: left;
}

.cr
{
	clear: right;
}

.fill
{
	overflow: hidden;
}

// ALIGN

.center
{
	text-align: center;
}

// SEARCH

.social-content-container-sml.active
{
	background-color: @blue;
	color: white !important;
}

.search-result
{
	background-color: white;
	color: black !important;
	padding: 3px 3px;
}

.search-result-link
{
	display: none;
}

.search-result-type
{
	background-color: @gray;
	color: white !important;
	padding: 3px 3px;
}

// SCORE ENTRY

.score-entry-detail, .score-entry-total
{
	background-color: @grayLighter;
	color: @grayDark;
	font-weight: bold;
	border-bottom: 1px solid @grayLight;
	padding: @spaceTny @spaceTny;
	font-size: 10px;
}

.score-entry-total
{
	margin-bottom: @spaceTny;
}

// NOTIFICATIONS

.notification
{
	color: @grayDarker;
}

.notification-unread
{
	background-color: @grayLighter;
}

#notification-icon
{
	font-size: 22px;
	position: relative;
	top: 3px;
}

#notification-number
{
	background-color: white;
	color: black;
	position: relative;
	left: -10px;
	top: -10px;
	border: 1px solid black;
	font-size: 9px;
	font-weight: bold;
	padding: 2px 2px;
	.border-radius(2px);
}

#notification-menu
{
	width: 300px;
	overflow: auto;
	max-height: 700px;
}

// STARS

.stars-holder
{
	.border-radius(8px);
	#gradient > .vertical(@white, @grayLighter);
	border: 1px solid @grayLight;
	padding: @spaceSml @space;
	color: @gray;
}

.stars-holder.invert
{
	#gradient > .vertical(@gray, @grayDark);
	color: @grayLighter;
	border: 1px solid @grayDarker;
}

.stars-holder.invert:hover { #gradient > .vertical(@gray, @gray); }

.stars-holder:hover { #gradient > .vertical(@white, @white); }

.star-holder
{
	display: inline-block;
	font-size: 22px;
	text-align: left;
	color: @blue;
	margin-left: 3px;
	margin-right: 3px;
}

.star-half
{
	margin-right: 8px !important;
}

.stars-container
{
	overflow: hidden;
	padding: 0px 0px;
}

.stars-header
{
	overflow: hidden;
	padding: 0px 0px;
	text-align: center;
	margin-bottom: @space;
	font-size: 14px;
	font-weight: bold;
}

.stars-low
{
	color: @black;
}

.stars-high
{
	color: @yellow;
}

// BOXES

.stat-box-holder
{
	text-align: center;
}

.stat-box-holder p
{
	margin-left: @space;
	border-bottom: 1px dotted @grayLight;
	padding: 4px 4px;
}

.stat-box-row
{
	margin-top: @space;
	margin-bottom: @space;
}

.stat-box
{
	float: right;
	#gradient > .vertical(@white, @grayLighter);
	border: 1px solid @grayLight;
	padding: 6px 6px;
	margin-left: @hspace;
	width: 80px;
	.border-radius(4px);
}
.stat-box:hover { #gradient > .vertical(@white, @white); }

.stat-box-descriptor
{
	text-align: center;
	overflow: hidden;
	font-size: 10px;
}

.stat-box-number
{
	margin: 6px 6px;
	text-align: center;
	overflow: hidden;
	font-size: 22px;
	font-weight: bold;
}

// TAGS

.tag
{
	display: inline-block;
	padding: (@spaceTny / 2) @spaceTny (@spaceTny / 2) @spaceTny;
	border: 1px solid lighten(desaturate(@linkColor, 30%), 30%);
	.border-radius(3px);
	font-size: 9px;
}

// TILES

.tile
{
	#gradient > .vertical(@white, @grayLighter);
	display: inline-block;
	padding: @spaceSml @spaceSml;
	margin: 4px 4px;
	.square(120px);
	border: 1px solid @grayLight;
	.border-radius(4px);
}

.large-hash
{
	font-size: 50px;
	font-weight: bold;
	margin-top: @vspace;
	margin-bottom: @vspace;
}

// SOCIAL CONTENT

.social-content-container(@pad)
{
	border-bottom: 1px solid @grayLighter;
	overflow: hidden;
	padding-bottom: @pad;
}

.social-content-container-sml
{
	.social-content-container(@spaceTny);
}

.social-content-container-lrg
{
	.social-content-container(@spaceSml);
}

.social-content-left(@width, @pad)
{
	width: @width;
	float: left;
	text-align: center;
	padding: @pad @pad;
}

.social-content-main-container
{
	overflow: hidden;
}

.social-content-main(@pad)
{
	overflow: hidden;
	padding-top: @pad ;
	padding-right: @pad;
	padding-bottom: 0px;
}

.social-content-main-sml div
{
	overflow: hidden;
}

.social-content-left-sml
{
	.social-content-left(30px, @spaceTny);
}

.social-content-main-sml
{
	.social-content-main(@spaceTny);
	font-size: 11px;
}

.social-content-left-lrg
{
	.social-content-left(60px, @spaceSml);
}

.social-content-left-lrg div
{
	overflow: hidden;
	padding-bottom: @space;
}

.social-content-main-lrg
{
	.social-content-main(@spaceSml);
}

.social-content-main-lrg div
{
	overflow: hidden;
}

.social-content-ctrl
{
	float: left;
	margin-right: @space;
	margin-bottom: @spaceTny;
	font-size: 11px;
	color: @grayLight;
}

.vote-arrow,
.vote-count
{
	font-size: 22px;
}

.comment,
.comment-input
{
	background-color: @grayLighter;
	margin-top: 1px;
	.border-radius(4px);
}

.comment-form
{
	margin-bottom: @spaceSml !important;
}

.comment-form input
{
	margin-bottom: 0px !important;
}

// IMAGES

.profile
{
	.square(50px);
	border: 1px solid @grayDark;
}

.profile-sml
{
	.square(25px);
	border: 1px solid @grayDark;
}

// HERO

.hero-color
{
	#gradient > .vertical(@grayLighter, @white);
}

//  HISTORY

// TABS

.main-tabs
{
	font-size: 16px;
}

// USER/TAG

.favourite-ctrl
{
	margin-left: @space;
	width: 170px;
	padding: 3px 3px;
	text-align: center;
	.border-radius(4px);
	border: 1px solid @grayLight;
}

// RATINGS

.rating-summary td
{
	width: 180px;
	font-size: 16px;
	padding: @spaceSml @spaceSml;
}

// LEADERBOARD

.leaderboard td
{
	vertical-align: middle;
	font-size: 16px;
	font-weight: bold;
}

.leaderboard-current
{
	#gradient > .vertical(@gray, @grayLight);
}

.leaderboard-current td
{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	color: white !important;
}

.leaderboard-current a
{
	color: white !important;
}

// INFORMATION

.info
{
	background-color: @infoBackground;
}

.info-content
{
	background-color: darken(saturate(@infoBackground, 30%), 60%);
	color: white;
}

// TAB ICONS

.active .tabicon-blue
{
	color: @blue;
}

.active .tabicon-orange
{
	color: @orange;
}

.active .tabicon-yellow
{
	color: @yellow;
}

.active .tabicon-green
{
	color: @green;
}

.active .tabicon-red
{
	color: @red;
}

.tabicon-blue, .tabicon-orange, .tabicon-yellow, .tabicon-green, .tabicon-red
{
	color: @grayLight;
	font-size: 15px;
	padding-right: 10px;
}

// COLORS

.color-ok
{
	color: @green;
}

.color-warning
{
	color: @yellow;
}

.color-star
{
	color: @yellow;
}

.color-low
{
	color: @red;
}

.color-med
{
	color: @yellow;
}

.color-high
{
	color: @green;
}
