   .modal {width:940px;left:36%;}
    
    .ajax-container { padding: 0px 0px; margin: 0px 0px }
    
    .gold { color: #8B8B00 }
    .silver { color: #aaaaaa }
    .bronze { color: #CD6600 }
    .red { color: #ee2222 }
    .white { color: White }
       
    .tooltip
    {
	    opacity:0.4;
    }
    
    .history-date
    {
    	padding: 8px 8px;
    	text-align: center;
    }
    
    .history-section
    {
    	margin-bottom: 12px;
    	padding-left: 8px;
    	text-align: center;
    }
    
    .question
    {
    	background-color: white;
    }
    
    .answer
    {
    	background-color: white;
    }
    
    .number
    {
		text-align: right !important;
    }
    
    th
    {
    	text-align: center !important;
    }
    
   