@foreach (var activity in ViewBag.Activities)
{
    <text>@Html.Partial("ActivityFull", (Qotd.PresentationObjects.ActivityPO)activity)</text>
}
<div class="ajax-container">
    <div style="overflow: hidden">
        <a href="@Url.Action(ViewBag.Action, "Home", new { skip = ViewBag.Skip, take = ViewBag.Take, userId = ViewBag.TargetUserId })" class="ajax-link"><button class="btn btn-small btn-primary" type="submit">
            <i class="icon-chevron-down"></i>&nbsp;&nbsp;See More</button></a>
    </div>
</div>