@model Qotd.PresentationObjects.CommentPO
<!-- Comment -->
<div class="comment">
    <div class="social-content-left-sml">
        <img src="@Model.User.User.ProfileImageUrl" class="profile-sml" />
    </div>
    <div class="social-content-main-sml">
        <div><span>@Html.Partial("UserLink", Model.User)</span>&nbsp;&nbsp;<span>@Model.Comment.Content</span></div>
        <div>
            <div class="social-content-ctrl">&bull;&nbsp;<time class="timeago" datetime="@Model.Comment.CreatedOn.ToString("s")"></time></div>
        </div>
    </div>
</div>
