<div>
@foreach (var day in ((Qotd.PresentationObjects.ActivityPO[])ViewBag.Activities).GroupBy(a => a.Activity.Date.Date).OrderByDescending(a => a.Key))
{
        <div class="history-date">
            <span class="label label-info">@day.Key.ToLongDateString()</span>
        </div>
    <!-- questions -->
    int c = 0;
    foreach (var activity in day.Where(a => a.Activity.ActivityType == Qotd.Entities.ActivityType.PostQuestion ||
                                            a.Activity.ActivityType == Qotd.Entities.ActivityType.QuestionWin))
    {
        if (c == 0)
        {
                 @*<div class="history-section">
                    <span class="label label-inverse"><b>Questions</b></span>
                 </div>*@
        }
             <div>
             @Html.Partial("Question", activity.Question)
             </div>
        c++;
    }
        <!-- answers -->
    c = 0;
    foreach (var activity in day.Where(a => a.Activity.ActivityType == Qotd.Entities.ActivityType.PostAnswer ||
                                            a.Activity.ActivityType == Qotd.Entities.ActivityType.AnswerWin ||
                                            a.Activity.ActivityType == Qotd.Entities.ActivityType.AnswerSecond ||
                                            a.Activity.ActivityType == Qotd.Entities.ActivityType.AnswerThird).OrderByDescending(a => a.Answer.Answer.AnswerRank))
    {
        if (c == 0)
        {
                 @*<div class="history-section">
                 <span class="label label-inverse"><b>Answers</b></span>
                 </div>*@
        }
             <div>
             @Html.Partial("Answer", activity.Answer)
             </div>
             c++;
         }
        
}
</div>