@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page -->
<div class="row">
    <div class="span9">
        <div class="tabbable tabs-left">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab1" data-toggle="tab" class="has-tooltip" title="Answers submitted by users for today's question" data-placement="right"><i class="icon-comments" style="font-size: 15px; color: Red; padding-right: 10px"></i><b>Answers</b></a>
                        </li>
                        <li>
                            <a href="#tab2" data-toggle="tab" class="ajax-tab has-tooltip" title="Questions submitted by users for tomorrow" data-placement="right" rel="@Url.Action("QuestionsTab", "Home")"><i class="icon-question-sign" style="font-size: 15px; color: Gray; padding-right: 10px"></i><b>Questions</b></a>
                        </li>
                        <li>
                            <a href="#tab4" data-toggle="tab" class="ajax-tab" rel="@Url.Action("LeaderboardTab", "Home")"><i class="icon-trophy" style="font-size: 15px; color: Gray; padding-right: 10px"></i><b>Leaderboard</b></a>
                        </li>
                        <li>
                            <a href="#tab5" data-toggle="tab"><i class="icon-globe" style="font-size: 15px; color: Gray; padding-right: 10px"></i><b>History</b></a>
                        </li>
                    </ul>
                <div class="tab-content">
                    <div id="alert-box">
                    </div>
                    <div class="tab-pane active" id="tab1">
                        @Html.Action("AnswersTab", "Home")
                    </div>
                    <div class="tab-pane" id="tab2">
                        
                    </div>
                    <div class="tab-pane" id="tab3">
                        
                    </div>
                    <div class="tab-pane" id="tab4">
                        
                    </div>
                    <div class="tab-pane" id="tab5">
                        
                    </div>
                </div>
            </div>
    </div>
    <div class="span3">
        <div style="border-left: 1px solid #dddddd; padding-left: 12px;">
            <div style="padding: 12px 12px">
                <span><h3><i class="icon-leaf"></i>&nbsp;&nbsp;Recent Activities</h3></span>
            </div>
            <div>
                @Html.Action("Activities", "Home")
            </div>
        </div>
    </div>
</div>