@foreach (var notification in ViewBag.Notifications)
{
    <text><li>@Html.Partial("Notification", (Qotd.Entities.Notification)notification)</li></text>
}
<li>
    <a href="@Url.Action("AllNotifications", "Home")">See All</a>
</li>