<div class="ajax-container">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3><i class="icon-ok color-ok"></i>&nbsp;Report Submitted</h3>
    </div>
    <div class="modal-body">
        Thank you. The report has now been submitted to the site's moderators and will be looked at as soon as possible.
    </div>
    <div class="modal-footer">
        <a href="@Url.Action("ReportForm","Home")" class="btn ajax-link" data-dismiss="modal">OK</a>
    </div>
</div>