@model QotdMvc.Models.TagBoxes
<div class="stat-box">
    <div class="stat-box-descriptor">Num Answers</div>
    <div class="stat-box-number">@(Model.Overall ? Model.Tag.Tag.NumAnswers : Model.Tag.Tag.NumAnswersThisPeriod)</div>
</div>
<div class="stat-box">
    <div class="stat-box-descriptor">Num Questions</div>
    <div class="stat-box-number">@(Model.Overall ? Model.Tag.Tag.NumQuestions : Model.Tag.Tag.NumQuestionsThisPeriod)</div>
</div>
<div class="stat-box">
    <div class="stat-box-descriptor">Favourited By</div>
    <div class="stat-box-number">@(Model.Overall ? Model.Tag.Tag.NumFollowing : Model.Tag.Tag.NumFollowingThisPeriod)</div>
</div>
