@model Qotd.Entities.TagEntry[]
@foreach (var t in Model)
{
    if (!String.IsNullOrEmpty(t.Value))
    {
        <div style="display: inline-block; padding: 2px 2px; border: 1px solid #dddddd">
            @if (t.Approved)
            {
            <a href="@Url.Action("Tag", "Home", new { tagId = t.TagId })">#@t.Value</a>
                }
                else
                {
                <text>#@t.Value</text>
            }
        </div> 
    }
}
