@model string[]
@foreach (var t in Model)
{
    if (!String.IsNullOrEmpty(t))
    {
   <div style="display: inline-block; padding: 2px 2px; border: 1px solid #dddddd"><a href="#">#@t</a></div> 
    }
}
