@model Qotd.PresentationObjects.TagPO
<div class="tile">
    <p class="large-hash">#</p>
    <p>
        <b><a href="@Url.Action("Tag", "Home", new { tagId = Model.Tag.Id })">@Model.Tag.Value</a></b>
    </p>
</div>
