@model Qotd.PresentationObjects.TagPO
<div class="well" style="background-color: white; display: inline-block; padding: 4px 4px; margin: 4px 4px; width: 120px; height: 120px; border: 1px solid #dddddd;">
    <div style="float: left; margin: 4px 4px;"><div style="font-size: 50px; margin-top: 12px;">#</div></div>
    <div style="float: left; clear: left;margin-top: 12px; margin-left: 4px">
        <b><a href="@Url.Action("Tag", "Home", new { tagId = Model.Tag.Id })">@Model.Tag.Value</a></b>
    </div>
</div>
