@model Qotd.PresentationObjects.UserPO
<a href="#" class="hovercard" rel="popover" data-content="Rank: @Model.User.OverallRank" data-original-title="@Model.User.DisplayName">@Model.User.DisplayName</a>
