@model Qotd.PresentationObjects.UserPO
<div class="tile">
    <p><img src="@Model.User.ProfileImageUrl" alt="profile picture"/></p>
    <p>
        <b>@Html.Partial("UserLink", Model)</b>
    </p>
</div>