@model QotdMvc.Models.UserBoxes
<div class="stat-box">
    <div class="stat-box-descriptor">Total Score</div>
    <div class="stat-box-number">@(Model.Overall ? Model.User.User.Score : Model.User.User.ScoreThisPeriod)</div>
</div>
<div class="stat-box">
    <div class="stat-box-descriptor">Overall Rank</div>
    <div class="stat-box-number">@(Model.Overall ? Model.User.User.OverallRank : Model.User.User.OverallRankThisPeriod)</div>
</div>
<div class="stat-box">
    <div class="stat-box-descriptor">Favourited By</div>
    <div class="stat-box-number">@(Model.Overall ? Model.User.User.NumFollowing : Model.User.User.NumFollowingThisPeriod)</div>
</div>
<div class="stat-box">
    <div class="stat-box-descriptor">Num Favourites</div>
    <div class="stat-box-number">@(Model.Overall ? Model.User.User.NumFollows : Model.User.User.NumFollowsThisPeriod)</div>
</div>